* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background: black;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    /*background-image: url(images/background.png);*/ /*To apply the background picture on the front screen*/ 
    background-size: cover;
    background-position: center;
}

.container {
    padding: 5px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 92px; 
    height: 50px; 
}
nav img {
    height: 100px; 
    width: auto;  
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding-bottom: 5px;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.5s ease;
}

nav ul li a:hover::after {
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 50px;
}
.header-text h1 span{
    color: #ff004f;
}
/* -----------about--------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f; 
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.5s; 
}

.tab-links.active-link::after {
    width: 50%; 
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* --------------------------services---------------------*/
#services{
    padding: 30px 0;
    text-align: center;
}

.highlight {
    color: #8d8c8c; 
    font-size: 18px; 
    font-weight: 400; 
    margin-bottom: 20px; 
}
.services-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 40px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(10px);

}
/*------------projects---------------- */
#projects {
    padding: 30px 0;
    text-align: center;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 40px;
}

.project {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1; 
}

.project img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.5s; 
}

.layer {
    position: absolute;
    bottom: 0; /* Positioning the layer at the bottom */
    left: 0;
    width: 100%;
    height: 100%; /* Set height to 100% to ensure it covers the image */
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the content */
    opacity: 0; /* Start with opacity 0 */
    transition: height 0.5s; /* Transition for opacity only */
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    padding: 20px; /* Add padding for better spacing */
    box-sizing: border-box; /* Include padding in height calculation */

}

.project:hover .layer {
    height: 100%;
    opacity: 1; /* Fade in the overlay on hover */
}

.layer h2 {
    margin: 0; 
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px; 
}

.layer p {
    font-size: 16px;
    margin: 0; 
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.project:hover img {
    transform: scale(1.1);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}

/*-------------------------experience---------------*/
#experience {
    padding: 30px 0;
    text-align: center; /* Center text in the section */
}

.experience-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Single column layout for centering */
    grid-gap: 30px;
    margin-top: 40px;
    max-width: 800px; /* Set a max width for better centering */
    width: 100%; /* Full width */
    margin-left: auto; /* Center the grid */
    margin-right: auto; /* Center the grid */
}

.experience {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.experience img {
    width: 100%; 
    height: auto; 
    max-height: 300px; 
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.5s;
}

.layer {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background: linear-gradient(rgba(0,0,0,0.8), rgba(255, 0, 79, 0.8)); /* Slightly darker gradient */
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.5s; 
    flex-direction: column;
    text-align: center;
    padding: 10px; 
    box-sizing: border-box;
}

.experience:hover .layer {
    opacity: 1; 
}

.layer h3 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;  
}
.layer h2 {
    margin: 10px;
    font-weight: 500;
    font-size: 20px;  
}

.layer p {
    font-size: 14px; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    height: 60px; 
}
/*----------contact------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateX(1px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
/*----------------------CSS for small screens-----------*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .services-list {
        grid-template-columns: 1fr; /* Stack services in a single column */
    }
    .services-list div {
        padding: 20px; /* Adjust padding for better spacing on mobile */
        font-size: 14px; /* Adjust font size for readability */
    }
    .services-list div i {
        font-size: 40px; /* Adjust icon size for mobile */
    }
    .project-list {
        grid-template-columns: 1fr; /* Stack projects in a single column */
    }

    .project {
        margin-bottom: 20px; /* Add some space between projects */
    }

    .layer h2 {
        font-size: 20px; /* Adjust font size for readability */
    }

    .layer p {
        font-size: 14px; /* Adjust text size */
    }

    
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
         font-size: 16px;
         margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }


}


/* General container styling */
#certification {
    padding: 30px 0;
    text-align: center;
}

/* Highlighted text under the title */
.highlight {
    color: #8d8c8c; 
    font-size: 18px; 
    font-weight: 400; 
    margin-bottom: 20px;
}

/* Certificate grid layout */
.certificate-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 40px;
}

/* Individual certificate card */
.certificate {
    background: #262626;
    padding: 20px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.certificate hidden-certifications {
    background: #262626;
    padding: 20px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Certificate icon */
.certificate i {
    font-size: 14px;
    margin-bottom: 30px;
    color: #fff;
}

/* Certificate title */
.certificate h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}
.certificate h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 15px;
    color: white;
}

/* Link to view the certificate */
.certificate a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

/* Hover effect on certificate card */
.certificate:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .certificate-list {
        grid-template-columns: 1fr;
    }
}


#span{
    color: #61b752;
    margin-top: -10px;
    display: block;
}